.table-default tbody > tr > td{
    padding: 0rem 1.5rem !important;
}
.side-nav-transparent {
  background-color: initial;
  width: 230px !important;
  min-width: 230px !important;
}

.menu-item.menu-item-transparent.menu-item-active {
  height: 35px !important ;
  margin: 2px 0 2px 0 !important
}
.menu-item.menu-item-transparent.menu-item{
  height: 35px !important ;
  margin: 2px 0 2px 0 !important
}